{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <header>
        <a href="{% url 'home' %}"><img class='logo' src="{% static "images/logo.png"%}"/></a>
        <ul id="menu">
            <li><a class="menu" href="{% url 'home' %}">Home</a></li>
            <li><a class="menu" href="{% url 'post_list' %}">Blog</a></li>
            <li><a class="menu" href="{% url 'contact' %}">Contact</a></li>
            <li><a class="menu" href="{% url 'about' %}">About</a></li>
    </header>
{% endblock %}

{% block body %}
<body>
    <div class="wrapper">
       	<ul id="sb-slider" class="sb-slider">
         		<li>
         				<img src="{% static "images/0.jpg" %}" alt="image1"/>
         		</li>
         		<li>
           			  <img src="{% static "images/1.jpg" %}" alt="image2"/>
         				<div class="sb-description">
     		    				<p><strong>Link-a-Lot Page1</strong><br/>
           					A website that holds links to many of the resources I used to educate myself.<br/>
             				<strong>Technologies used: </strong>Python, Flask, HTML5, CSS3</p>
         				</div>
         		</li>
         		<li>
           			  <img src="{% static "images/2.jpg" %}" alt="image3"/>
           			<div class="sb-description">
             				<p><strong>Link-a-Lot Page2</strong><br/>
             				<strong>Find the full code here:</strong><a class="menu" href="https://github.com/Lanigo/Link-a-lot-Simple-Flask-website"> Github</a><br/>
             				It runs on <a class="menu" class="menu" href="http://linkalot-lanigouws.rhcloud.com">Openshift</a></p>
           			</div>
         		</li>
         		<li>
           			  <img src="{% static "images/3.jpg" %}" alt="image4"/>
           			<div class="sb-description">
             				<p><strong>Rugby Refs Page1</strong><br/>
             				A web app which was created to keep track of referee statistics during Rugby World Cup 2015.<p>
           			</div>
         		</li>
         		<li>
           			  <img src="{% static "images/4.jpg" %}" alt="image5"/>
           			<div class="sb-description">
             				<p><strong>Rugby Refs Page2</strong><br/>
             				<strong>Technologies used: </strong>Python, Flask, SQLite3 HTML5, CSS3, Bootstrap3</p>
         				</div>
         		</li>
         		<li>
           			  <img src="{% static "images/5.jpg" %}" alt="image6"/>
           			<div class="sb-description">
             				<p><strong>Rugby Refs Page3</strong><br/>
             				<strong>Find the full code here:</strong><a class="menu" href="https://github.com/Lanigo/Rugby-Ref-Flask-App"> Github</a><br/>
             				It runs on <a class="menu" href="http://lani.pythonanywhere.com">PythonAnywhere</a></p>
           			</div>
         		</li>
         		<li>
           			<img src="{% static "images/6.jpg" %}" alt="image7"/>
           			<div class="sb-description">
             				<p><strong>PyQt Text Editor Page1</strong><br/>
             				A text editor created with Qt and Python.<br/>
             				<strong>Technologies used: </strong>Python, PyQt4<br/>
             				</p>
           			</div>
         		</li>
       			<li>
           			<img src="{% static "images/7.jpg" %}" alt="image8"/>
           			<div class="sb-description">
             				<p><strong>PyQt Text Editor Page2</strong><br/>
             				<strong>Find the full code here: </strong><a class="menu" href="https://github.com/Lanigo/Writer-PyQt-Text-Editor">Github</a></p>
           			</div>
         		</li>
         		<li>
           			<img src="{% static "images/8.jpg" %}" alt="image9"/>
           			<div class="sb-description">
             				<p><strong>Babble Meteor Chat App Page1</strong><br/>
             				A single page chat app.<br/>
             				<strong>Technologies used: </strong>JavaScript, Meteor.js, MongoDB, HTML5, CSS3</p>
           			</div>
         		</li>
         		<li>
           			<img src="{% static "images/9.jpg" %}" alt="image10"/>
           			<div class="sb-description">
             				<p><strong>Babble Meteor Chat App Page2</strong><br/>
             				<strong>Find the full code here:</strong><a class="menu" href="https://github.com/Lanigo/Meteor-chat-app-Babble"> Github</a><br/>
             				It runs on <a class="menu" href="http://lgbabble.meteor.com/">Meteor</a></p>
           			</div>
         		</li>
            <li>
                <img src="{% static "images/10.png" %}" alt="image11"/>
                <div class="sb-description">
                    <p><strong>Django Website with Shop and Blog Page1</strong><br/>
                    <p>This is a full website with a blog and also a fully functioning shop using django-shop.</p>
               </div>
            </li>
            <li>
                <img src="{% static "images/11.png" %}" alt="image12"/>
                <div class="sb-description">
                    <p><strong>Django Website with Shop and Blog Page2</strong><br/>
                    <strong>Technologies used: </strong>Python, Django, MySQL(PostgreSQL for Heroku deployment), HTML5, CSS3</p>
                </div>
            </li>
            <li>
                <img src="{% static "images/12.png" %}" alt="image13"/>
                <div class="sb-description">
                    <p>Unfortunately, you can not see the images on Heroku, because I can not pay for a CDN.</p>
                </div>
            </li>
            <li>
                <img src="{% static "images/13.png" %}" alt="image14"/>
                <div class="sb-description">
                    <p><strong>Django Website with Shop and Blog Page4</strong><br/>
                    <p>The shop has a list view, detail view, shopping cart, as well as a shipping and billing system.</p>
                </div>
            </li>
            <li>
                <img src="{% static "images/14.png" %}" alt="image15"/>
                <div class="sb-description">
                    <p><strong>Django Website with Shop and Blog Page5</strong><br/>
                    <strong>Find the full code here:</strong><a class="menu" href="https://github.com/Lanigo/Django-website-with-shop-and-blog"> Github</a><br/>
                    It runs on <a class="menu" href="https://lanidjango.herokuapp.com/">Heroku</a></p>
                </div>
            </li>
       	</ul>

       	<div id="shadow" class="shadow"></div>

       	<div id="nav-arrows" class="nav-arrows">
         		<a href="#">Next</a>
         		<a href="#">Previous</a>
       	</div>

       	<div id="nav-dots" class="nav-dots">
         		<span class="nav-dot-current"></span>
         		<span></span>
         		<span></span>
         		<span></span>
         		<span></span>
         		<span></span>
         		<span></span>
         		<span></span>
         		<span></span>
         		<span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
       	</div>
    </div><!-- /wrapper -->
</body>
{% endblock %}

        {% block javascript %}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "js/modernizr.custom.46884.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.slicebox.js" %}"></script>
        <script type="text/javascript" src="{% static "js/slider.js" %}"></script>
        {% endblock %}